<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
    <connectionStrings>
        <add connectionString="Data Source=SQL5012.myWindowsHosting.com;Initial Catalog=DB_9B16E6_realty;User ID=DB_9B16E6_realty_admin;Password=kaha1989" name="DB_9B16E6_realty" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <customErrors mode="Off" />
    <compilation><assemblies><add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" /></assemblies></compilation></system.web>
</configuration>
